<div class="container text-center">
  <button color="primary" mat-fab [disabled]="disable" (click)="SendData(dataToEnter[index]);" >Start</button>
  <div class="row">
    <div class="col-md-2 col-4" *ngFor="let data of dataSubject | async">
      <div class="d-flex justify-content-center">
        <div class="flex-column justify-content-center">
          <div  *ngFor="let d of data.PageArr">
          <button mat-fab
                  color="{{d.hit ? 'hit' : d.miss? 'miss' : 'default'}}">
            {{d.data}} - ({{d.counter}})
          </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
